@import 'tailwindcss/base';
@import '/fonts/iransans.css';
@import '/abstracts';

@import 'tailwindcss/components';
@import 'components.css';

@import 'tailwindcss/utilities';


.shadow-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow-other {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;}

.line-through-a {
    text-decoration-line: line-through; 
}

.shadow-product {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.custom-next, .custom-prev {
    background-color: #ff0000;
}
  
.custom-next {
    right: 10px;
}
  
.custom-prev {
    left: 10px;
}
.custom-next:hover, .custom-prev:hover {
    background-color: #555;
}
  
.swiper-button-next {
    background-color: #ff0000;
color: red;
}

@media (max-width: 766px) {
    .shadow-add {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
      
}

@media (min-width: 320px) {
    * {
      scrollbar-width: thin; /* none | auto  */
      scrollbar-color: #b7bdc2 transparent;
    }
}
.ql-editor {
   height: 515px;
   direction: rtl;
text-align: right;
}
.ql-editor p{
    height: 515px;
    border-radius: 6px;
    direction: rtl;
    text-align: right;
}
.ql-blank{
}

.ql-picker-label {
    display: flex;
    justify-content: space-between;
}
.ql-picker-label svg{
display: none;
}

.ql-toolbar{
 margin-top: 14px;
 margin-bottom: 8px;
border: solid gray 1px;
border-radius: 6px;
}
.ql-container {
    margin-top: 10px;
}

.ql-container.ql-snow {
    border:1px solid #ccc !important;
    border-radius: 6px
}

.quill {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 14px;
    padding-left: 14px; 
    padding-bottom: 16px;
}

.custom-z {
    z-index: 6;
}
.custom-z2 {
    z-index: 7;
}
.custom-z3 {
    z-index:9;
}
.custom-z4 {
    z-index:9;
}
