.swiper-button-prev,
.swiper-button-next {
  color: #0ea5e9 !important;
  background: #ffffff;
  opacity: 100%;
  border-radius: 5px;
  width: 2rem !important;
  height: 2rem !important;
  z-index: 99;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 50% !important;
  cursor: pointer !important;
  pointer-events: all !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}


.swiper-button-prev {
  margin-right: 120px !important;
  }
@media (max-width: 640px) {
  .swiper-button-prev {
    margin-right: 10px !important;
    }
}

.detailSwiper .swiper-button-prev,
.detailSwiper .swiper-button-next {
  color: #e90089 !important;
  background: #ffffff;
  opacity: 100%;
  border-radius: 5px;
  width: 2rem !important;
  height: 2rem !important;
  z-index: 99;
}
.detailSwiper .swiper-button-next::after,
.detailSwiper .swiper-button-prev::after {
  font-size: 20px !important;
}


.detailSwiper .swiper-button-prev {
  margin-right: 10px !important;
  }
@media (max-width: 450px) {
  .detailSwiper .swiper-button-prev {
    margin-right: 10px !important;
    }
}