@layer base {
    @font-face {
      font-family: 'IRANSansWeb';
      font-style: normal;
      font-weight: 900;
      src: url('/fonts/Iransans/IRANSansWeb_Black.eot');
      src: url('/fonts/Iransans/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
           url('/fonts/Iransans/IRANSansWeb_Black.woff2') format('woff2'),
           url('/fonts/Iransans/IRANSansWeb_Black.woff') format('woff'),
           url('/fonts/Iransans/IRANSansWeb_Black.ttf') format('truetype');
      font-display: swap;
    }
  
    @font-face {
      font-family: 'IRANSansWeb';
      font-style: normal;
      font-weight: 700;
      src: url('/fonts/Iransans/IRANSansWeb_Bold.eot');
      src: url('/fonts/Iransans/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
           url('/fonts/Iransans/IRANSansWeb_Bold.woff2') format('woff2'),
           url('/fonts/Iransans/IRANSansWeb_Bold.woff') format('woff'),
           url('/fonts/Iransans/IRANSansWeb_Bold.ttf') format('truetype');
      font-display: swap;
    }
  
    @font-face {
      font-family: 'IRANSansWeb';
      font-style: normal;
      font-weight: 300;
      src: url('/fonts/Iransans/IRANSansWeb_Light.eot');
      src: url('/fonts/Iransans/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
           url('/fonts/Iransans/IRANSansWeb_Light.woff2') format('woff2'),
           url('/fonts/Iransans/IRANSansWeb_Light.woff') format('woff'),
           url('/fonts/Iransans/IRANSansWeb_Light.ttf') format('truetype');
      font-display: swap;
    }
  
    @font-face {
      font-family: 'IRANSansWeb';
      font-style: normal;
      font-weight: 500;
      src: url('/fonts/Iransans/IRANSansWeb_Medium.eot');
      src: url('/fonts/Iransans/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
           url('/fonts/Iransans/IRANSansWeb_Medium.woff2') format('woff2'),
           url('/fonts/Iransans/IRANSansWeb_Medium.woff') format('woff'),
           url('/fonts/Iransans/IRANSansWeb_Medium.ttf') format('truetype');
      font-display: swap;
    }
  
    @font-face {
      font-family: 'IRANSansWeb';
      font-style: normal;
      font-weight: 200;
      src: url('/fonts/Iransans/IRANSansWeb_UltraLight.eot');
      src: url('/fonts/Iransans/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
           url('/fonts/Iransans/IRANSansWeb_UltraLight.woff2') format('woff2'),
           url('/fonts/Iransans/IRANSansWeb_UltraLight.woff') format('woff'),
           url('/fonts/Iransans/IRANSansWeb_UltraLight.ttf') format('truetype');
      font-display: swap;
    }
  
    @font-face {
      font-family: 'IRANSansWeb';
      font-style: normal;
      font-weight: 400;
      src: url('/fonts/Iransans/IRANSansWeb.eot');
      src: url('/fonts/Iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
           url('/fonts/Iransans/IRANSansWeb.woff2') format('woff2'),
           url('/fonts/Iransans/IRANSansWeb.woff') format('woff'),
           url('/fonts/Iransans/IRANSansWeb.ttf') format('truetype');
      font-display: swap;
    }
  }
  